{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/rcada/OneDrive/Bureau/VoltaireQ2Project/VoltaireQ2Project/src/Controller/EtudiantController.php'|file_link(0) }}">src/Controller/EtudiantController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/rcada/OneDrive/Bureau/VoltaireQ2Project/VoltaireQ2Project/templates/etudiant/index.html.twig'|file_link(0) }}">templates/etudiant/index.html.twig</a></code></li>
    </ul>

    <p> Ici vous pouvez parametrer un paramètre ! </p>
    
   <form method = "get" action="http://localhost:8000/etudiant/createBareme">
1erParam: <input type="range" name="1param" min="0" max="10">
2erParam: <input type="range" name="2param" min="0" max="10">
3erParam: <input type="range" name="3param" min="0" max="10">
Favori?  <input type="checkbox" id="favori" name="favori" value="favori">
<input type="submit">
</form>
</div>
{% endblock %}
